[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Stephen Paul
	email = stephen.paul@agropur.com
[http]
	sslVerify = false
